@import url('https://fonts.googleapis.com/css?family=Rokkitt');
body{
    padding: 0;
    margin: 0;
    background-image: url(bgn.jpg) ;
    background-size: 100%;
    z-index: -2;
    font-family: Rokkitt;
}

.header{
    background-image: url(bgnhdr.jpg);
    width: 100%;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}


.wrapper {
    padding-top: 1%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

#pie{
    position: absolute;
    float: right;
    top:2px;
    right: 2px;
    height: 40px;
    width: 40px;
    background-image: url(pie.svg);
    cursor: pointer;
}

#name{
    margin-left: 5px;
    height: 43px;
    text-align: center;
    font-size: 36px;
    color: white;
}
#logo{
    width: 40px;
    height: 40px;
}
span{
    color: black;
}
#p_prldr {
    position: fixed;
    left: 0;
    top: 0;
    right:0;
    bottom:0;
    background: #FFBB00;
    z-index: 3;
}

.contpre small{
    font-size:25px;

}

.contpre {
    width: 250px;
    height: 100px;
    position: absolute;
    left: 44%;top: 48%;
    margin-left:-125px;
    margin-top:-75px;
    color:#fff;
    font-size:40px;
    letter-spacing:-2px;
    text-align:center;
    line-height:35px;
}

#p_prldr .svg_anm {
    position: absolute;
    width: 41px;
    height: 41px;
    background-size:41px;
    margin: -16px 0 0 -16px;
}

#camera{
    height: 480px;
    width: 640px;
    background-color: white;
    /*border: solid 1px silver;*/
    -webkit-box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);

}